<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projBoard">
	<insert id="insert" parameterType="projBoardDto"> 
		INSERT INTO proj_board (proj_title, proj_writer, proj_content, proj_imagePath, proj_date, proj_disp_tf) 
		VALUES(#{proj_title},#{proj_writer},#{proj_content},#{proj_imagePath}, now(), #{proj_disp_tf}) 
	</insert>
	<select id="getList" resultType="projBoardDto"> 
		SELECT proj_num, proj_title, proj_writer, proj_content, proj_imagePath, proj_date, proj_disp_tf 
		FROM proj_board 
		ORDER BY proj_num DESC 
	</select>
	<select id="getRecentList" resultType="projBoardDto"> 
		SELECT proj_num, proj_title, proj_writer, proj_content, proj_imagePath, proj_date, proj_disp_tf 
		FROM proj_board 
		WHERE proj_disp_tf=0
		ORDER BY proj_num DESC LIMIT 0, 3
	</select>	
	<select id="getDetail" resultType="projBoardDto" parameterType="int">
		SELECT proj_num, proj_title, proj_content, proj_imagePath, proj_disp_tf
		FROM proj_board
		WHERE proj_num=#{proj_num}
	</select>
	<update id="update" parameterType="projBoardDto"> 
		UPDATE proj_board
		SET proj_title=#{proj_title}, proj_imagePath=#{proj_imagePath}, proj_content=#{proj_content},
		proj_date=CURRENT_TIMESTAMP
		WHERE proj_num=#{proj_num} 
	</update>	
</mapper>


