<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projTimeline">
	<select id="getList" parameterType="int" resultType="projTimelineDto"> 
		SELECT post_num, post_title, post_filePath, post_content, post_regr_id, post_reg_dtime, post_disp_tf, post_proj_num 
		FROM proj_post_board 
		WHERE post_proj_num=#{num} AND post_disp_tf=0
		ORDER BY post_num DESC 
	</select>
 	<insert id="insert" parameterType="projTimelineDto" useGeneratedKeys="true" keyProperty="post_num"> 
		INSERT INTO proj_post_board (post_title, post_filePath, post_fileOrgName, post_fileSize, post_content, post_regr_id, post_modr_id, post_proj_num) 
		VALUES(#{post_title}, #{post_filePath}, #{post_fileOrgName}, #{post_fileSize}, #{post_content}, #{post_regr_id}, #{post_modr_id}, #{post_proj_num}) 
	</insert>	
	<select id="getDetail" resultType="projTimelineDto" parameterType="projTimelineDto"> 
		SELECT post_num, post_title, post_filePath, post_content, post_regr_id, post_reg_dtime, post_disp_tf, post_proj_num
		FROM proj_post_board
		WHERE post_proj_num=#{post_proj_num} AND post_num=#{post_num}
	</select>		
	<select id="getFile" resultType="projTimelineDto" parameterType="ProjTimelineDto"> 
		SELECT post_num, post_title, post_filePath, post_fileOrgName, post_fileSize, post_content, post_regr_id, post_reg_dtime, post_disp_tf, post_proj_num
		FROM proj_post_board
		WHERE post_proj_num=#{post_proj_num} AND post_num=#{post_num}
	</select>	
	<update id="update" parameterType="projTimelineDto"> 
		UPDATE proj_post_board
		SET post_title=#{post_title},post_filePath=#{post_filePath}, post_fileOrgName=#{post_fileOrgName}, post_fileSize=#{post_fileSize}, post_content=#{kh_content},
		post_modr_id=#{post_modr_id}
		WHERE post_num=#{post_num} AND post_proj_num=#{post_proj_num} 
	</update>	
	<update id="delete" parameterType="projTimelineDto"> 
		UPDATE proj_post_board
		SET post_disp_tf=1
		WHERE post_num=#{post_num} AND post_proj_num=#{post_proj_num} 
	</update>	
</mapper>


