@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
a:link { color: white; text-decoration: none;}

.login-bottom{
	text-align : center;
	color : white;
	margin-top : 15px;
}

